/*-- Layout Base --*/
.generator {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-height: 100vh;
}

/*- Header -*/
.generator header {
   width: 90%;
   margin: 0 5%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.generator header .theme-select {
   padding: 5px 8px;
   background-color: #0f0f0f;
   color: #bdbdbd;
   border: solid 2px #3a3a3a;
   border-radius: 6px;
}
.generator header .title {
   color: #d3d3d3;
   font-size: 30px;
   margin-top: 10px;
   font-weight: normal;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
}
.generator header .icons a {
   color: #f1f1f1;
   font-size: 25px;
   margin: 0 5px;
}
.generator .container {
   width: 900px;
   padding: 20px 0;
   margin: 20px 0;
   background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(60,44,99,1) 0%, rgba(15,15,15,1) 100%);
   color: #171717;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   overflow-y: auto;
}
@media (max-width: 760px) {
   .generator header {
      width: 95%;
      height: auto;
      margin: 0 2.5%;
      flex-direction: column;
   }
   .generator header .theme-select {
      margin-top: 20px;
   }
   .generator header .title {
      font-size: 20px;
   }
   .generator .container {
      width: 90%;
      height: auto;
   }
}

/* -- Listagem -- */
.listagem {
   width: 90%;
   margin: 20px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.listagem .elemento {
   width: 40%;
   margin: 20px 0;
   padding: 15px 0;
   text-align: center;
   background-color: #212121;
   border-radius: 3px;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
   box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
.listagem .elemento a {
   font-size: 16px;
   padding-bottom: 5px;
   text-transform: uppercase;
   font-weight: normal;
   color: #f1f1f1;
}
.listagem .elemento h4 {
   font-size: 14px;
   font-weight: normal;
   text-transform: capitalize;
   color: #d3d3d3;
}

/*- Home -*/
.home {
   margin: 10px 0;
   text-align: center;
}
.home a  {
   color: #d3d3d3;
   font-size: 27px;
}