/*-- Layout Base --*/
.generator {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

/*- Header -*/
.generator header {
   width: 90%;
   margin: 0 5%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.generator header .theme-select {
   padding: 5px 8px;
   background-color: #0f0f0f;
   color: #bdbdbd;
   border: solid 2px #3a3a3a;
   border-radius: 6px;
}
.generator header .title {
   color: #d3d3d3;
   font-size: 30px;
   margin-top: 10px;
   font-weight: normal;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
}
.generator header .icons a {
   color: #f1f1f1;
   font-size: 25px;
   margin: 0 5px;
}
.generator .container {
   width: 900px;
   padding: 20px 0;
   margin: 20px 0;
   background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(60,44,99,1) 0%, rgba(15,15,15,1) 100%);
   color: #171717;
   border-radius: 6px;
   display: flex;
   justify-content: center;
   overflow-y: auto;
}
@media (max-width: 760px) {
   .generator header {
      width: 95%;
      height: auto;
      margin: 0 2.5%;
      flex-direction: column;
   }
   .generator header .theme-select {
      margin-top: 20px;
   }
   .generator header .title {
      font-size: 20px;
   }
   .generator .container {
      width: 90%;
      height: auto;
   }
}
@media (min-width: 761px) and (max-width: 1400px) {
   .generator .container {
      width: 800px;
   }
}
@media (min-width: 1800px) {
   .generator .container {
      margin-top: 50px;
   }
}

/* - List - */
.list {
   margin-top: 50px;
   width: 60%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.list .element {   
   background: #191919;
   width: 40%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 15px 2.5%;
   margin-bottom: 32px;
}
.list .element img {
   width: 100px;
}
.list .element a {
   margin-left: 20px;
}
.list .element a h3 {
   color: #f1f1f1;
}
.list .element a p {
   margin-top: 6px;
   font-size: 13.5px;
   color: #dddddd;
}

@media (max-width: 800px) {
   .list {
      margin-top: 30px;
      width: 90%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }
   .list .element {   
      background: #191919;
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px 2.5%;
      margin-bottom: 32px;
   }
   .list .element img {
      width: 70px;
   }
   .list .element a h3 {
      font-size: 14px;
   }   
   .list .element a p {
      font-size: 12.5px;
   }
}

/*- Home -*/
.home {
   margin: 10px 0;
   text-align: center;
}
.home a  {
   color: #d3d3d3;
   font-size: 27px;
}