/*- Default Css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700|Fira+Mono:400,500,700|Montserrat:300,400,700&display=swap');


.shadow { box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.205); }

* {
   padding: 0;
   margin: 0;
   outline: 0;
   border: 0;
   font-family: 'Open Sans', sans-serif;
}

body {
   background: #171717;
   /* background: linear-gradient(90deg, #101010 0%, #202020 100%); */
   /* background-image: url('../img/dark-exa.png'); */
}

a {
   text-decoration: none;
   opacity: 0.9;
}
a:hover {
   opacity: 1;
}