/* -- Border Radius Generator -- */
.border-radius {
   display: flex;
   width: 90%;
   margin: 10px 5%;
   flex-wrap: wrap;
   justify-content: center;
}
.border-radius .changer {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.border-radius .changer div input[type=range] {
   width: 100px;
   padding: 3px;
}
.border-radius .changer div input[type=text],
.border-radius .changer div select {
   width: 50px;
   padding: 3px;
   text-align: center;
   border-radius: 2px;
   background: #383538;
   color: #f1f1f1;
   text-transform: lowercase;
}
.border-radius .changer:nth-child(1) {
   margin-bottom: 30px;
}
.border-radius .changer:last-child {
   margin-top: 20px;
}

/* SHOW */
.border-radius .show {
   width: 380px;
   height: 380px;
   background-color: #383538;
   padding: 10px;
   color: #f1f1f1;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 13.5px;
   font-weight: 400;
}
@media (max-width: 760px) {
   .border-radius .changer {
      flex-direction: row;   
      flex-wrap: nowrap;
   }
   .border-radius .changer div {
      flex-basis: 30%;
   }
   .border-radius .changer div input[type=range] {
      width: 90%;
   }
   .border-radius .changer div input[type=text],
   .border-radius .changer div select {
      width: 45%;
      padding: 0;
   }
   .border-radius .changer:nth-child(1) {
      margin-bottom: 15px;
   }
   .border-radius .changer:last-child {
      margin-top: 15px;
   }
   .border-radius .show {
      margin: 15px 0;
      font-size: 12px;
   }
}
@media (min-width: 761px) and (max-width: 1400px) {
   .border-radius .show {
      width: 300px;
      height: 300px;
   }
}
@media (min-width: 1800px) {
   
}