/*- Default Css */
@import url('https://fonts.googleapis.com/css?family=Lacquer|Odibee+Sans|Open+Sans:300,400,700|Roboto:300,400,700|Tomorrow:300,400,700&display=swap');
* {
   padding: 0;
   margin: 0;
   outline: 0;
   border: 0;
   font-family: 'Open Sans', sans-serif;
}

body {
   background-color: #0f0f0f;
   background-image: url('../img/dark-exa.png');
}

a {
   text-decoration: none;
   opacity: 0.9;
}
a:hover {
   opacity: 1;
}